<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box;">

  

    <div style="font-family:'Courier New', Courier, monospace; background-color: lightskyblue; height: 100vh;">

        <div style="display: flex; justify-content: center;" >
            <h1>DIVINO PRODUCTS</h1>
        </div>

            <div style="display: flex; align-content: center; justify-content: center; width: 100%;">
               
                    <div style="width: 338px; height: 338px; place-content: center; border: solid 1px black; margin: 20px; border-radius: 10px;">
                       
                            <h5 style="display: flex; justify-content: center; font-size: 24px;">Ingrese Producto</h5>
                        
                        <div>
                            <form action="/products" method="POST" style="display: grid; grid-template-columns: 150px 150px; grid-template-rows: 30px 30px 30px 50px; gap: 10px; justify-items: center; align-items: center; place-content: center;">
                                <p style="font-size: 24px;">Nombre</p>
                                <input type="text"  name="name">
                                <p style="font-size: 24px;">Precio</p>
                                <input type="text"  name="price">
                                <p style="font-size: 24px;">Cantidad</p>
                                <input type="text"  name="quantity">
                                <button  style="background-color: white; border-radius: 5px; width: 80px; height: 30px; border: solid 1px black;"  type="submit">Guardar</button>
                            </form>
                        </div>
                    </div>
           
    
                
                    <div style="width: auto; height: auto; place-content: center; border: solid 1px black; margin: 20px; border-radius: 10px;">
                        <div>
                            <h5 style="display: flex; justify-content: center; font-size: 24px;">Productos</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group" style="list-style: none; padding-right: 40px;">
                                <div style="display: flex; gap: 10px;">
                                    {% for product in products %}
    
                                        <div class="col">
                                            <li style="list-style: none;">
                                                <form action="/edit/{{product.name}}" method="POST" style="display: grid; grid-template-columns: 150px; grid-template-rows: 30px 30px 30px 30px 30px 30px 30px;  justify-items: center; align-items: center; place-content: center;">
                                                    <p style="padding: 0; margin: 0;">Name</p>
                                                    <input type="text" class="form-control" value="{{product.name}}" name="name">
                                                    <p style="padding: 0; margin: 0;">CANTIDAD</p>
                                                    <input type="text" class="form-control" value="{{product.quantity}}" name="quantity">
                                                    <p style="margin: 0; padding: 0;">PRECIO</p>
                                                    <input type="text" class="form-control" value="{{product.price}}" name="price">
                                                    <div style="display: flex;">
                                                    <button style="background-color: white; border-radius: 5px; width: 50px; height: 25px; border: solid 1px black; margin-right: 5px;">Editar</button>
                                                    <a href="{{url_for('delete', product_name=product.name)}}" style="color: red; padding-top: 3px;">Eliminar</a>

                                                    </div>    
                                                </form>
                                            </li>
                                        </div>
    
                                    {% endfor %}
                                </div>
                            </ul>
                        </div> 
                    </div>
                
            </div>
        

    </div>

   
    
</body>
</html>